{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Home page</h1>
  <p class="lead"></p>
</div>
    <footer>
    <div class="container">
      <div class="copyright">
        <p><b>Os-name:</b> {{ os_name }}<p>
      </div>
      <div class="credits">
    <p><b>User Agent:</b> {{ user_agent }}</p>
    <p><b>Time:</b> {{ current_time }}</p>
      </div>
    </div>
  </footer>
{% endblock %}